<p>
  -------------------->  playground
</p>

<ul>
  <li *ngFor="let formation of formations; index as i; first as f; even as e; last as l">
    <p [ngClass]="{ 'first': f, 'last': l, 'even': e}">
        <app-formation-item-input [formation]="formation"></app-formation-item-input>
    </p>
  </li>
</ul>

<ul>
  <li *ngFor="let formation of formations">
    <app-formation-item-output
      [formation]="formation"
      (formationSelected)="handleFormationSelected($event)">
    </app-formation-item-output>
  </li>
</ul>
